/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: lightgoldenrodyellow;
}
.wrapper {
    margin: 40px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bayan {
    width: 70%;
    padding: 20px 0;
    margin-top: 1%;
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
.img-first {
    width: 60%;
    height: 60%;
}
img {
    margin-top: 50px;
}
.input-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
input[type="checkbox"]{
    width: 5%;
  
}
input:checked {
    width: 100px;
}
label {
    font-size: 55px;
} */
body {
    width: 100%;
    height: 100%;
    background-color: lightgoldenrodyellow;
}
h1 {
    font-size: 3em;
    margin: 2em 0 0 0;
    font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
}
.wrapper {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.acc {
    display: flex;
    justify-content: space-evenly;
}
.bayan {
    width: 30%;
    height: 20%;
display: flex;
flex-direction: column;
justify-content: center;
    border-bottom: 0.1em solid lightgray;

}

img {
    display: block;
 width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .5s linear;

border-radius: 20%;

}
input {
    width: 0;
    height: 0;
    transition: all .3s linear;
    appearance: none;
}

label:hover {
    color: blue;
}

input:checked ~ label {
    color: blue;
}
input:checked ~ img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
    cursor: grab;
    transition: all .3s linear;
    height: 14rem;
}
 label {
      font-size: calc( (100vw - 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
    cursor: pointer; 
}

@media screen and (width < 1100px) {
    input:checked ~ img {
  
    height: 12rem;
}
}
@media screen and (width <956px) {
    label {
        text-align: center;
    }
    
}
@media screen  and (width <765px){
     input:checked ~ img {
  
    height: 10rem;
}
}
@media screen  and (width <572px){
     input:checked ~ img {
  
    height: 7rem;
}
}
@media screen  and (width <460px){
     input:checked ~ img {
  
    height: 6rem;
}
}
@media screen  and (width <320px){
     input:checked ~ img {
  
    height: 5rem;
}
}

@media screen  and (width >1520px){
     input:checked ~ img {
  
    height: 17rem;
}
}
@media screen  and (width >1920px){
     input:checked ~ img {
  
    height: 19rem;
}
}